@charset "UTF-8";

/* Style the header */
.header {
   background-color: black;
   padding: 10px;
   text-align: center;
   text-color: #FFFFFF;
   font-size: 30px;
   letter-spacing: 7px;
}

video {
   object-fit: cover;
   
}

h1 span {
   opacity: 0;
   display: inline-block;
   animation: animate 1s linear forwards;
}

h1 span {
   opacity: 0;
   display: inline-block;
   animation: animate 1s linear forwards;
}

h1 span:nth-child(1)
{
   animation-delay: 1s;
}

h1 span:nth-child(2)
{
   animation-delay: 2s;
}

h1 span:nth-child(3)
{
   animation-delay: 2.5s;
}

h1 span:nth-child(4)
{
   animation-delay: 3s;
}

h1 span:nth-child(5)
{
   animation-delay: 3.5s;
}

h1 span:nth-child(6)
{
   animation-delay: 3.75s;
}

h1 span:nth-child(7)
{
   animation-delay: 4s;
}

h1 span:nth-child(8)
{
   animation-delay: 4.5s;
}

@keyframes animate 
{
   0%
   {
      opacity: 0;
      transform: rotateY(90deg);
      filter: blur(10px);
   }
   
   100%
   {
      opacity: 1;
      transform: rotateY(0deg);
      filter: blur(0);
   }
   
   
}


.active {
  background-color: #9E4491;
  
}

.topnav{
   font-size: 16px;
}

body {
  font-size: 15px;

}

ul {
  font-family: Tahoma, Geneva, sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #945848;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #C3D442;
  
}