@charset "UTF-8";

/* Style the header */
.header {
	background-color: #F3D040;
	padding: 10px;
	text-align: center;
	text-color: #FFFFFF;
	font-size: 30px;
	letter-spacing: 7px;
}
.active {
  background-color: #9E4491;
  
}

.topnav{
	font-size: 16px;
}

body {
  font-size: 15px;

}

ul {
  font-family: Tahoma, Geneva, sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #945848;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #C3D442;
  
}

