<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="www.spring.com.user.mapper.UserMapper">
	<select id="getAllBoard" resultMap="UserInfo">
		<!-- 순수 SQL문으로만 인식해라 연산이 들어갈 경우 -->
		<![CDATA[
			select * from CUSTOMER
		]]>
	</select>
	
	<select id="loginRequest" resultMap="UserInfo">
		<!-- 순수 SQL문으로만 인식해라 연산이 들어갈 경우 -->
		<![CDATA[
			select * from CUSTOMER where ID = #{id}
		]]>
		<!-- 로그인 중인 아이디로 유저 객체 생성 -->
	</select>
	
	<select id="findUser" resultMap="UserInfo">
		<!-- 순수 SQL문으로만 인식해라 연산이 들어갈 경우 -->
		<![CDATA[
			select * from CUSTOMER where CUSTOMER_NUMBER = #{customerNumber}
		]]>
		<!-- 로그인 중인 아이디로 유저 객체 생성 -->
	</select>
	
		
	<!-- 유저 객체 생성 -->
	<resultMap id="UserInfo"
		type="www.spring.com.user.model.UserVO">
		<id property="customerNumber" column="CUSTOMER_NUMBER" />
		<result property="id" column="ID" />
		<result property="password" column="PASSWORD" />
		<result property="phoneNumber" column="PHONE_NUMBER" />
		<result property="email" column="EMAIL" />
		<result property="name" column="NAME" />
		<result property="gender" column="GENDER" />
		<result property="currentCash" column="CURRENT_CASH" />
		<result property="totalAmount" column="TOTAL_AMOUNT" />
		<result property="winRate" column="WIN_RATE" />
		<result property="registrationDate" column="REGISTRATION_DATE" />
	</resultMap>
	
	<insert id="signUpRequest">
		<!-- 순수 SQL문으로만 인식해라 연산이 들어갈 경우 -->
		<![CDATA[
			insert into CUSTOMER (CUSTOMER_NUMBER, ID, PASSWORD, PHONE_NUMBER, EMAIL, NAME, GENDER, 
				CURRENT_CASH)
			values (seq_board.nextval, #{id,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{phoneNumber,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR}, '100')
		]]>
		<!-- 회원가입 기본지급액 100000 데이터베이스로 전달 -->
	</insert>
	
</mapper>